.banner-five {
  position: relative;
  color: #ffffff;
  background: #000538;

  .auto-container {
    max-width: 1350px;
  }

  .image-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center -120px;
    background-size: auto auto;
  }

  .left-shape-layer {
    position: absolute;
    left: -300px;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 0px bottom;
    animation: upDown 25s linear infinite;
  }

  .content-box {
    position: relative;
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 1000px;
    z-index: 5;

    .content {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding: 150px 0px 50px;
    }

    .inner {
      position: relative;
      display: block;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      z-index: 1;
    }

    .sub-title {
      position: relative;
      display: block;
      font-size: 24px;
      line-height: 1.4em;
      font-weight: 600;
      letter-spacing: 3px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    h1 {
      display: block;
      font-size: 170px;
      line-height: 0.8em;
      color: #ffffff;
      font-weight: 600;
      margin-bottom: 0px;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.30);
    }

    .text {
      display: block;
      font-size: 24px;
      line-height: 1.6em;
      color: #ffffff;
      font-weight: 400;
      margin-top: 25px;
    }

    .link-box {
      position: relative;
      display: block;
      margin-top: 50px;

      .theme-btn {
        margin: 0 8px 20px;
        min-width: 220px;
      }
    }

    .content-image {
      position: absolute;
      left: 50%;
      top: 160px;
      margin-left: -50px;
    }
  }

  .scroll-down {
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 1;

    .scroll-to-target {
      position: relative;
      display: inline-block;
      line-height: 40px;
      color: rgba(255, 255, 255, 0.50);
      font-size: 24px;
      cursor: pointer;

      .icon {
        position: relative;
        display: inline-block;
        transform: rotate(90deg);
      }
    }
  }
}
