/*Btn Style One*/
/*Btn Style Two*/
/*Btn Style Three*/
/*Btn Style Four*/
/*Btn Style Five*/
/*Btn Style Six*/
/*Btn Style Seven*/
/*Btn Style Eight*/
/*Btn Style Nine*/
/*Btn Style Ten*/
/*Btn Style Eleven*/
@-webkit-keyframes sphereSpin {
  0% {
    -webkit-transform: rotateX(360deg) rotateY(0deg);
    transform: rotateX(360deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg);
    transform: rotateX(0deg) rotateY(360deg);
  }
}

@keyframes sphereSpin {
  0% {
    -webkit-transform: rotateX(360deg) rotateY(0deg);
    transform: rotateX(360deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg);
    transform: rotateX(0deg) rotateY(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateDisc2 {
  from {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateZ(360deg);
    transform: rotateX(90deg) rotateZ(360deg);
  }
}

@keyframes rotateDisc2 {
  from {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateZ(360deg);
    transform: rotateX(90deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotateDisc3 {
  from {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateY(90deg) rotateZ(360deg);
    transform: rotateY(90deg) rotateZ(360deg);
  }
}

@keyframes rotateDisc3 {
  from {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateY(90deg) rotateZ(360deg);
    transform: rotateY(90deg) rotateZ(360deg);
  }
}

body {
  font-size: 16px;
  color: #497188;
  line-height: 1.65em;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: 'Archivo', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ff6000;

  &:hover {
    text-decoration: none;
    outline: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:visited {
    text-decoration: none;
    outline: none;
  }

  &:active {
    text-decoration: none;
    outline: none;
  }
}

.theme_color {
  color: #ff6000;
}

button {
  &:active {
    text-decoration: none;
    outline: none;
  }

  font-family: 'Archivo', sans-serif;
  outline: none !important;
  cursor: pointer;
}

h1 {
  position: relative;
  font-weight: normal;
  margin: 0px 0px 15px;
  background: none;
  line-height: 1.25em;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 120px;
}

h2 {
  position: relative;
  font-weight: normal;
  margin: 0px 0px 15px;
  background: none;
  line-height: 1.25em;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 80px;
}

h3 {
  position: relative;
  font-weight: normal;
  margin: 0px 0px 15px;
  background: none;
  line-height: 1.25em;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 32px;
}

h4 {
  position: relative;
  font-weight: normal;
  margin: 0px 0px 15px;
  background: none;
  line-height: 1.25em;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 24px;
}

h5 {
  position: relative;
  font-weight: normal;
  margin: 0px 0px 15px;
  background: none;
  line-height: 1.25em;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
}

h6 {
  position: relative;
  font-weight: normal;
  margin: 0px 0px 15px;
  background: none;
  line-height: 1.25em;
  font-family: 'Gilroy-Bold', sans-serif;
}

input {
  font-family: 'Archivo', sans-serif;
}

select {
  font-family: 'Archivo', sans-serif;
}

textarea {
  overflow: hidden;
  resize: none;
}

p {
  font-size: 16px;
  line-height: 1.65em;
  font-weight: 400;
  margin: 0 0 15px;
}

.text {
  font-size: 16px;
  line-height: 1.65em;
  font-weight: 400;
  margin: 0 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  z-index: 9;
  overflow: hidden;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

.inner {
  display: block;
}

.inner-box {
  display: block;
}

.theme-btn {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  i {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-left: 3px;
  }
}

.centered {
  text-align: center !important;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #5a8299;
    font-weight: 700;
    padding: 13px 40px;
    background: none;
    border: 2px solid #c0d1db;
    border-radius: 0px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #ff6000;
      border-color: #ff6000;
      color: #ffffff;
    }
  }
}

.btn-style-two {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 13px 40px;
    background: #ff6000;
    border: 2px solid #ff6000;
    border-radius: 0px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #001f29;
      border-color: #001f29;
      color: #ffffff;
    }
  }
}

.btn-style-three {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 13px 40px;
    background: none;
    letter-spacing: 4px;
    border: 2px solid rgba(255, 255, 255, 0.30);
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #ff5489;
      border-color: #ff5489;
      color: #ffffff;
    }
  }
}

.btn-style-four {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #fda9bc;
    background: -webkit-linear-gradient(left, #fda9bc, #ff5488);
    background: -ms-linear-gradient(left, #fda9bc, #ff5488);
    background: -moz-linear-gradient(left, #fda9bc, #ff5488);
    letter-spacing: 3px;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #000e8f;
      border-color: #000e8f;
      color: #ffffff;
    }
  }
}

.btn-style-five {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #000e8f;
    letter-spacing: 3px;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #ff5488;
      border-color: #ff5488;
      color: #ffffff;
    }
  }
}

.btn-style-six {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    padding: 15px 40px;
    border: none;
    background: #00307c;
    letter-spacing: 3px;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #ff6000;
      border-color: #ff6000;
      color: #ffffff;
    }
  }
}

.btn-style-seven {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #47698e;
    font-weight: 700;
    padding: 13px 40px;
    background: none;
    letter-spacing: 4px;
    border: 2px solid #dfe6ec;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #D6D6D6;
      border-color: #D6D6D6;
      color: #ffffff;
    }
  }
}

.btn-style-eight {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #ff4646;
    letter-spacing: 3px;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #000261;
      border-color: #000261;
      color: #ffffff;
    }
  }
}

.btn-style-nine {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #28b270;
    letter-spacing: 3px;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #cc500b;
      border-color: #cc500b;
      color: #ffffff;
    }
  }
}

.btn-style-ten {
  position: relative;
  background: none;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    border: none;
    background: #ff6511;
    letter-spacing: 3px;
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #000261;
      border-color: #000261;
      color: #ffffff;
    }
  }
}

.btn-style-eleven {
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  .btn-title {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #47698e;
    font-weight: 700;
    padding: 13px 40px;
    background: none;
    letter-spacing: 3px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    z-index: 1;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .icon {
    position: relative;
    top: -1px;
    padding-right: 5px;
  }

  &:hover {
    .btn-title {
      background: #ff6000;
      border-color: #ff6000;
      color: #ffffff;
    }
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.preloader {
  position: fixed;
  top: 0;
  background-color: #2a2273;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  text-align: center;

  .spinner {
    width: 4em;
    height: 4em;
    -webkit-transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
    transform: perspective(20em) rotateX(-24deg) rotateY(20deg) rotateZ(30deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    margin-left: auto;
    margin-right: auto;

    .disc {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: .3em dotted #fff;

      &:nth-child(1) {
        -webkit-animation: rotate 12s linear infinite;
        animation: rotate 12s linear infinite;
      }

      &:nth-child(2) {
        -webkit-animation: rotateDisc2 12s linear infinite;
        animation: rotateDisc2 12s linear infinite;
      }

      &:nth-child(3) {
        -webkit-animation: rotateDisc3 12s linear infinite;
        animation: rotateDisc3 12s linear infinite;
      }
    }

    .inner {
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-animation: sphereSpin 6s linear infinite;
      animation: sphereSpin 6s linear infinite;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      right: 0;
      bottom: 0;
      border: 2px dotted #fff;
      margin: -15px;
    }
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}

.fa {
  line-height: inherit;
}

img.lazy-image {
  background: url(../images/icons/image-bg.svg) center center no-repeat;

  &.loaded {
    background-image: none;
  }
}

.owl-theme {
  img.lazy-image.loaded {
    height: auto;
    opacity: 1;
  }
}
