.header-style-five {
  position: fixed;
  left: 0;
  top: 40px;
  width: 100%;
  transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;

  .header-upper {
    position: relative;
  }

  .auto-container {
    max-width: 1360px;
  }

  .logo-box {
    position: relative;
    float: left;
  }

  .other-links {
    position: relative;
    top: 10px;
    float: right;
    padding: 15px 0px;
    background: none;
  }

  .search-btn {
    position: relative;
    float: left;
    margin-left: 35px;
    line-height: 30px;
    color: #ffffff;

    .search-toggler {
      position: relative;
      display: block;
      line-height: 30px;
      color: #ffffff;
      background: none;
      padding: 0;
      font-size: 18px;
    }
  }

  .max-nav-toggler {
    position: relative;
    float: left;

    .toggle-btn {
      position: relative;
      display: block;
      line-height: 30px;
      color: #ffffff;
      background: none;
      padding: 0;
      font-size: 20px;
    }
  }

  .nav-content {
    position: relative;
    float: left;
    width: calc(100% - 270px);
  }

  .nav-outer {
    position: relative;
    display: block;
    text-align: center;

    .main-menu {
      position: relative;
      display: inline-block;
      vertical-align: top;

      .navigation {
        > li.dropdown {
          > a {
            padding-right: 0;

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.header-style-five.fixed-header {
  top: 0;
  background: #222222;
}
