.welcome-section {
  position: relative;
  padding: 120px 0px 100px;
  background: #ffffff;

  .content {
    position: relative;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;

    .icon-box {
      position: relative;
      display: block;
      margin: 0 auto 40px;
    }

    .sub-title {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 1.5em;
      font-weight: 600;
      text-transform: uppercase;
      color: #ff6000;
      letter-spacing: 3px;
      margin-bottom: 12px;

      &:before {
        content: '';
        position: absolute;
        top: 11px;
        right: 100%;
        margin-right: 15px;
        width: 70px;
        border-bottom: 2px solid #ff6000;
      }

      &:after {
        content: '';
        position: absolute;
        top: 11px;
        left: 100%;
        margin-left: 15px;
        width: 70px;
        border-bottom: 2px solid #ff6000;
      }
    }

    h2 {
      position: relative;
      display: block;
      font-size: 78px;
      line-height: 1.10em;
      letter-spacing: -1px;
      color: #001f29;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0px;
    }

    .lower-text {
      position: relative;
      display: block;
      font-size: 20px;
      line-height: 1.6em;
      font-weight: 400;
      color: #497188;
      padding: 20px 0px 0px;
      max-width: 600px;
      margin: 0 auto;
    }

    .links {
      position: relative;
      text-align: center;
      padding-top: 40px;

      .theme-btn {
        margin: 0 10px 20px;
        vertical-align: top;
        min-width: 180px;
      }
    }
  }
}
