@media only screen and (max-width: 1340px) {
  .banner-three {
    .content-box {
      h1 {
        font-size: 60px;
      }
    }
  }
  .sec-title {
    h2 {
      font-size: 60px;
    }
  }
  .featured-service-two {
    .sec-title {
      h2 {
        font-size: 60px;
      }
    }
  }
  .portfolio-section-three.fullwidth {
    .gallery-item-two {
      width: 50%;
    }
  }
  .more-details {
    .sec-title-four {
      h2 {
        font-size: 48px;
      }
    }
  }
}
