@media only screen and (max-width: 767px) {
  .banner-one {
    .content-box {
      h1 {
        font-size: 84px;
      }

      .content {
        padding: 250px 0px 160px;
      }
    }

    .scroll-down {
      padding-left: 15px;
      background: none;
    }
  }
  .faded-text {
    .f-text {
      span {
        font-size: 100px;
      }
    }
  }
  .sec-title-two {
    h2 {
      font-size: 40px;
    }
  }
  .call-to-section {
    .content {
      h2 {
        font-size: 40px;
      }
    }
  }
  .sec-title {
    h2 {
      font-size: 40px;
    }
  }
  .portfolio-section-three.fullwidth {
    .gallery-item-two.width-50 {
      width: 100%;
    }

    .gallery-item-two {
      width: 100%;
    }
  }
  .main-footer {
    .footer-bottom {
      .info-block {
        width: 100%;
      }
    }
  }
  .clients-section {
    .logos-col {
      .inner {
        padding-left: 0px;
      }
    }
  }
  .why-choose-section {
    .text-content {
      padding-right: 0px;
    }

    .icon {
      right: 0px;
    }
  }
  .featured-service {
    .sec-title {
      h2 {
        font-size: 36px;
      }
    }
  }
  .welcome-section {
    .content {
      h2 {
        font-size: 36px;
      }

      .lower-text {
        font-size: 16px;
      }
    }
  }
  h2 {
    font-size: 36px;
  }
  .light-style {
    .testimonial-block {
      .content {
        .text {
          font-size: 26px;
        }
      }
    }
  }
  .process-section {
    background-color: #f7fcff;

    .curve {
      display: none;
    }
  }
  .call-to-two {
    .images {
      display: none;
    }
  }
  .skill-section-two {
    .curve {
      display: none;
    }
  }
  .banner-three {
    .content-box {
      h1 {
        font-size: 44px;
      }

      .text {
        font-size: 20px;
      }
    }
  }
  .services-section-two {
    .faded-text.style-two {
      .f-text {
        span {
          font-size: 110px;
        }
      }
    }
  }
  .service-block-two.padd-top {
    padding-top: 0px;
  }
  .sec-title-three {
    h2 {
      font-size: 40px;
      font-size: 30px;
    }
  }
  .news-block-two {
    h4 {
      font-size: 20px;
    }
  }
  .news-block-three {
    h4 {
      font-size: 20px;
    }

    .inner-box {
      padding: 25px 25px;
    }
  }
  .news-block-four {
    h4 {
      font-size: 20px;
    }

    .info {
      margin-top: 30px;
    }

    .inner-box {
      padding: 25px 25px;
    }
  }
  .banner-four {
    .content-box {
      h1 {
        font-size: 50px;
      }
    }
  }
  .service-block-three {
    .image-col {
      .image-layer {
        background-image: none;
      }

      .image {
        display: block;
      }
    }
  }
  .service-block-three.alternate {
    .image-col {
      order: 2;
    }

    .text-col {
      order: 1;
    }
  }
  .feature-block-three.alternate {
    .content {
      order: 1;
    }

    .image {
      order: 2;
    }
  }
  .testimonial-section-two {
    .faded-text {
      .f-text {
        span {
          font-size: 80px;
        }
      }
    }
  }
  .home-light-style {
    .info-section {
      .faded-text.style-two {
        .f-text {
          span {
            font-size: 80px;
          }
        }
      }
    }
  }
  .page-banner {
    .faded-text.light {
      .f-text {
        span {
          font-size: 120px;
          font-size: 80px;
        }
      }
    }

    h1 {
      font-size: 40px;
    }

    .inner-container {
      padding-top: 180px;
      padding-bottom: 70px;
    }
  }
  .featured-service-two {
    .sec-title {
      h2 {
        font-size: 40px;
      }
    }

    .inner-box {
      padding: 40px 25px;
    }
  }
  .contact-section {
    .sec-title {
      h2 {
        font-size: 40px;
      }
    }
  }
  .post-controls {
    .next-post {
      margin-bottom: 0px;
      width: 100%;
      padding: 0px;
      text-align: center;
      margin-bottom: 30px;
    }

    .prev-post {
      width: 100%;
      padding: 0px;
      text-align: center;
      margin-bottom: 30px;
    }

    .control {
      .post-thumb {
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
  .news-post-detail {
    .inner-box {
      padding: 25px 20px 25px;
    }

    h2 {
      font-size: 30px;
    }

    .author-box {
      .author-inner {
        padding: 0px;
        min-height: auto;
      }

      .author-image {
        position: relative;
        margin-bottom: 20px;
      }

      padding: 20px 20px;
    }
  }
  .comments-area {
    .comment.reply-comment {
      margin-left: 0px;
    }
  }
  .leave-comments {
    .comment-form {
      padding: 25px 25px 20px;
    }
  }
  .featured-services {
    padding-bottom: 70px;
  }
  .skills-section {
    .image-column {
      .inner {
        margin-right: 0px;
      }
    }
  }
  .more-details {
    .sec-title-four {
      h2 {
        font-size: 40px;
      }
    }
  }
  .sec-title.style-three {
    h2 {
      font-size: 40px;
    }
  }
  .sec-title-four {
    h2 {
      font-size: 40px;
    }
  }
  .banner-five {
    .content-box {
      h1 {
        font-size: 70px;
      }
    }
  }
  .news-block-five {
    h3 {
      text-transform: capitalize;
    }
  }
  .news-block-six {
    .quote-icon {
      position: relative;
      margin-bottom: 25px;
    }

    .lower-box {
      padding-left: 0px;
    }

    .inner-box {
      padding: 25px 25px;
    }

    h3 {
      font-size: 26px;
      text-transform: capitalize;
    }
  }
  .header-style-four {
    .nav-content {
      width: auto;
      float: right;
    }
  }
}
